@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  background-color: black;
}

.MuiInput-underline:before {
  border-bottom-color: white !important;
}

.MuiInput-underline:hover:before {
  border-bottom-color: white !important;
}

.MuiInput-underline:after {
  border-bottom-color: lightgray;
}

.Mui-focused .MuiInput-underline:after {
  border-bottom-color: lightgray;
}

